*~
JavaBlog/out/*
JavaBlog/target/*
JavaBlog/.idea/workspace.xml
JavaBlog/lib/*
HibernateTest/lib/*
HibernateTest/target/*
StrutsTest/lib/*
StrutsTest/out/*
HQLTest/lib/*
HQLTest/target/*
BookManageSystem/lib/*
BookManageSystem/out/*
BookManageSystem/target/*
